html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 15px;
  line-height: 24px;
  margin: 0;
  background-image: url("images/whitney.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
